.nav{
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
}
.nav a{
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: black;
    color:white;
    cursor:pointer;
    text-decoration: none;
}